{% extends 'base.html.twig' %}
{% block title %}Les messages{% endblock %}
{% block body %}
    {% for message in messages %}
        <article>
            <h2>{{ message.sujet }}</h2>
            <p><strong>envoyé le {{ message.dateenvoi|date('d/m/y') }} par {{ message.nom }}.</strong></p>
            <p><a href="{{ path('messageId', {id: message.id}) }}">voir</a></p>
        </article>
    {% endfor %}
{% endblock %}
