{% extends 'base.html.twig' %}
{% block title %}âge{% endblock %}
{% block body %}
{% if age == 1 %}
{% set an = 'an' %}
{% else %}
{% set an = 'ans' %}
{% endif %}


<p>Bonjour {{ nom }}, tu as {{ age }} {{ an }}.</p>
{% endblock %}
