<!DOCTYPE html>
<html>
  <head>
    <title>

    </title>
  </head>
  <body>
  <h1>Page d'accueil</h1>
  <p>Ceci est la page d'accueil du site</p>

  <p>Bonjour {{ nom }}</p>


  {#commentaires twig#}
  {#pour afficher une variagle#}
  {#
  {{ $mavariable }}
  #}
  {# boucle #}
  {#
  {% for article in articles %}

  {% endfor %}
  #}
  {#condition#}
    {#
  {% if myvariable == 'toto' %}

  {% endif %}
  #}
  </body>
</html>
